<h1>Free Card Games and API</h1>

<h3>Shuffled Shoes of Cards</h3>
<p>These will be displayed on-screen</p>
<ul>
  <li><a href='http://localhost:3000/decks/1'>One deck</a></li>
  <li><a href='http://localhost:3000/decks/2'>Two decks</a></li>
  <li><a href='http://localhost:3000/decks/3'>Three decks</a></li>
  <li><a href='http://localhost:3000/decks/4'>Four decks</a></li>
  <li><a href='http://localhost:3000/decks/5'>Five decks</a></li>
  <li><a href='http://localhost:3000/decks/6'>Six decks</a></li>
</ul>

<h3>Shuffled Shoes of Cards JSON API</h3>
<p>The same shuffled decks rendered as JSON</p>
<ul>
  <li><a href='http://localhost:3000/decks/1.json'>One deck</a></li>
  <li><a href='http://localhost:3000/decks/2.json'>Two decks</a></li>
  <li><a href='http://localhost:3000/decks/3.json'>Three decks</a></li>
  <li><a href='http://localhost:3000/decks/4.json'>Four decks</a></li>
  <li><a href='http://localhost:3000/decks/5.json'>Five decks</a></li>
  <li><a href='http://localhost:3000/decks/6.json'>Six decks</a></li>
</ul>