<h1>Decks <%= @deck.cards.length %></h1>
<ul id='deck'>
  <% @deck.cards.each do |card| %>
    <li style='color:<%= card.color %>;'>

      <span class='rank'>
        <%= card.rank %>
      </span>

      <span class='suit'>
        <%= card.suit %>
      </span>
    </li>
  <% end %>
</ul>